body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(46, 46, 46);
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 50vh;
  width: 50%;
}

.dot {
  display: flex;
  justify-content: space-around;
  width: 100%;
  animation: ani-dots 0.5s linear infinite;
  z-index: 1;
}

.dot::before {
  content: "";
  background-color: white;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

@keyframes ani-dots {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.pacman {
  position: relative;
  width: 160px;
  height: 160px;
  z-index: 2;
}
.pacman:before, .pacman:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 80px solid rgb(236, 255, 67);
  border-radius: 50%;
  border-right: 80px solid transparent;
  animation: animate1 linear 0.5s infinite;
}
.pacman:after {
  animation: animate2 linear 0.5s infinite;
}

@keyframes animate1 {
  0% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}/*# sourceMappingURL=styles.css.map */