@import 'variables';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $back;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 50vh;
    width: 50%;
}

.dot {
    display: flex;
    justify-content: space-around;
    width: 100%;
    animation: ani-dots 0.5s linear infinite;
    z-index: 1;
}

.dot::before {
    content: "";
    background-color: $dot_col;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

@keyframes ani-dots {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.pacman {
    position: relative;
    width: 160px;
    height: 160px;
    z-index: 2;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0; 
        border: 80px solid $pac_col;
        border-radius: 50%;
        border-right: 80px solid transparent;
        animation: animate1 linear .5s infinite;
    }

    &:after {
        animation: animate2 linear .5s infinite;
    }
}

@keyframes animate1 {
    0% {
        transform: rotate(270deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

